@import 'open-props/style';

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bold-font: 700;
  --opacity: 0.75;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    to bottom,
    var(--dt-very-dark-blue-top-bg-pattern) 30%,
    var(--dt-very-dark-blue-bg) 10% 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color Vars*/
  --primary-lime-green: hsl(163, 72%, 41%);
  --primary-red: hsl(356, 69%, 56%);
  --primary-facebook-color: hsl(208, 92%, 53%);
  --primary-twitter-color: hsl(203, 89%, 53%);
  --primary-instagram-gradient: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  --primary-youtube-color: hsl(348, 97%, 39%);
  --primary-toggle-dark-gradient: linear-gradient(
    to top right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --primary-toggle-light-color: hsl(230, 22%, 74%);

  /* Neutral Color Vars */
  /* - DARK THEME - */
  --dt-very-dark-blue-bg: hsl(230, 17%, 14%);
  --dt-very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --dt-dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --dt-desaturated-blue-text: hsl(228, 34%, 66%);

  /* - LIGHT THEME - */
  --lt-light-white-bg: hsl(0, 0%, 100%);
  --lt-very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
  --lt-light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --lt-dark-grayish-blue-text: hsl(228, 12%, 44%);
  --lt-very-dark-blue-text: hsl(230, 17%, 14%);
}

.dark__root {
  background-color: var(--lt-light-white-bg);
  color: black;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: max(100vw, 1440px);
  min-height: 100vh;
  padding-inline: 10vw;
  padding-block: 2.5rem;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2rem;
  line-height: 1.2;
}

main,
header {
  width: 100%;
  margin-inline: auto;
}

header p {
  font-size: 14px;
  color: var(--dt-desaturated-blue-text);
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

main > h2 {
  padding-block-end: 1rem;
}

img,
svg {
  max-width: 100%;
  display: block;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: var(--primary-toggle-dark-gradient);
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  &:before,
  &:after {
    content: '';
  }
  &:before {
    display: block;
    background: var(--dt-very-dark-blue-bg);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + & {
    background: hsl(225, 100%, 98%);
    &:before {
      left: 30px;
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-inline: 1ch;
  position: relative;
  top: 2px;
}

.totals__dash-grid,
.overview__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-block-end: 2rem;
  place-content: center center;
}

.totals__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dt-dark-desaturated-blue-card-bg);
  grid-column: span 1;
  aspect-ratio: 1.21;
  padding-block: 1.5rem;
}

.totals__card-border-facebook {
  border-top: 4px solid var(--primary-facebook-color);
  border-radius: 0.5rem;
}

.totals__card-border-twitter {
  border-top: 4px solid var(--primary-twitter-color);
  border-radius: 0.5rem;
}

.totals__card-border-youtube {
  border-top: 4px solid var(--primary-youtube-color);
  border-radius: 0.5rem;
}

.totals__card-border-instagram {
  background-image: var(--primary-instagram-gradient);
  border-radius: 0.5rem;
  border-top: 4px solid transparent;
  aspect-ratio: 1.2;
}

.totals__card-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals__card-handle > img {
  display: inline;
  padding-inline-end: 1rem;
}

.totals__card-handle > p {
  color: var(--dt-desaturated-blue-text);
  font-size: 14px;
}

.totals__card-followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: auto;
}

.totals__card-followers p:first-child {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.totals__card-followers p:last-child {
  color: var(--dt-desaturated-blue-text);
  letter-spacing: 0.5ch;
}

.totals__card-diff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.diff-up {
  color: var(--primary-lime-green);
}

.diff-down {
  color: var(--primary-red);
}

.keep-that-arrow-away-from-me {
  padding-left: 1ch;
}

.totals__card-dif > svg {
  display: inline;
  margin-right: 0.5ch;
}

.overview__card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  aspect-ratio: 2;
  background-color: var(--dt-dark-desaturated-blue-card-bg);
}

.overview__card > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overview__card > section h4 {
  color: var(--dt-desaturated-blue-text);
}

.overview__card > section:first-child {
  justify-content: space-between;
  margin-bottom: auto;
}

.overview__card > section:last-child {
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}

.overview__card > section:last-child p:first-child {
  font-size: 2rem;
  font-weight: var(--bold-font);
}

.card-rounded {
  border-radius: 0.25rem;
}

@media (max-width: 930px) {
  .overview__card {
    padding: 0.75rem;
  }
}

@media (max-width: 815px) {
  h1 {
    font-size: 1.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .totals__dash-grid,
  .overview__grid {
    display: flex;
    flex-direction: column;
  }

  .totals__card,
  .totals__card-border-instagram {
    aspect-ratio: 1.5;
  }

  .overview__card {
    aspect-ratio: 2.6;
    padding: 1.5rem;
  }

  .header__title {
    border-bottom: 1px white solid;
  }

  .header__title > p {
    padding-bottom: 1rem;
  }

  header > div:last-child {
    width: 100%;
  }

  .toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
  }

  .toggle-label {
    margin-inline: 0;
  }
}
