:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(226, 43%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.profile {
  display: flex;
  background-color: hsl(235, 46%, 20%);
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 1rem;
  
}

.profile__upper {
  width: 100%;
  background-color: hsl(246, 80%, 60%);
  height: 75%;
  border-radius: 1rem;
}

.profile__picture {
  height: 20%;
  width: auto;
  border-radius: 50%;
  border: 0.25rem solid white;
}

.info {
  display: flex;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  background-color: hsl(235, 46%, 20%);
}
