:root {
  --font-family: 'Rubik', sans-serif;

  font-family: var(--font-family);
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(226, 43%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --card-bg-work: hsl(15, 100%, 70%);
  --card-bg-play: hsl(195, 74%, 62%);
  --card-bg-study: hsl(348, 100%, 68%);
  --card-bg-exercise: hsl(145, 58%, 55%);
  --card-bg-social: hsl(264, 64%, 52%);
  --card-bg-self-care: hsl(43, 84%, 65%);
  --card-bg-very-dark-blue: hsl(235, 46%, 20%);
  --card-bg-dark-blue: hsl(235, 46%, 20%);
  --profile--purple: hsl(246, 80%, 60%);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li {
  all: unset;
  padding-block: 0.5rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-dark-blue);
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 1rem;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 0.5;
}

.profile__upper {
  width: 100%;
  background-color: var(--profile--purple);
  height: 75%;
  border-radius: 1rem;
  padding: 1.5rem;
}

.profile__picture {
  height: 20%;
  width: auto;
  border-radius: 50%;
  border: 0.25rem solid white;
  margin-bottom: 2.2rem;
}

.profile__name {
  all: unset;
  font-size: 48px;
  font-weight: 300;
}

.profile__timeframes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.25rem;
  font-size: 18px;
  font-weight: 500;
}

.info {
  display: flex;
  aspect-ratio: 1;
  border-radius: 1.15rem;
}

.info__fg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.75rem;
  height: 90%;
  width: 100%;
}

.info__header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.info__title {
  font-size: 18px;
  font-weight: 500;
}

.ellipsis {
  height: 4px;
}

.info__fg-current {
  font-size: 62px;
  font-weight: 300;
}

.info__fg-previous {
  font-size: 16px;
}

.info__bg {
  background-color: var(--card-bg-dark-blue);
  height: 85%;
  width: 100%;
  align-self: flex-end;
  border-radius: 1rem;
}
.info--work {
  background: var(--card-bg-work);
}

.info--play {
  background-color: var(--card-bg-play);
}

.info--study {
  background-color: var(--card-bg-study);
}

.info--exercise {
  background-color: var(--card-bg-exercise);
}

.info--social {
  background-color: var(--card-bg-social);
}

.info--self-care {
  background-color: var(--card-bg-self-care);
}
