:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(226, 43%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --card-bg-work: hsl(15, 100%, 70%);
  --card-bg-play: hsl(195, 74%, 62%);
  --card-bg-study: hsl(348, 100%, 68%);
  --card-bg-exercise: hsl(145, 58%, 55%);
  --card-bg-social: hsl(264, 64%, 52%);
  --card-bg-self-care: hsl(43, 84%, 65%);
  --bg-very-dark-blue: hsl(226, 43%, 10%);
  --card-bg-dark-blue: hsl(235, 46%, 20%);
  --card-bg-hover-dark-blue: hsl(236, 41%, 34%);
  --profile--purple: hsl(246, 80%, 60%);
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:nth-child(2) {
  padding-block: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: #ffffff80;
  padding: 0.25rem;
}

a:link:active,
a:visited:active,
a:hover,
.ellipsis:hover {
  color: white;
  opacity: 1;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  gap: 2rem;
}

/*------------------Prof Card-----------------*/

.profile {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-dark-blue);
  border-radius: 1rem;
  grid-row: span 2;
  flex-shrink: 1;
}

.profile__upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--profile--purple);
  height: 75%;
  border-radius: 1rem;
  padding: 1.5rem;
}

.profile__picture {
  width: 40%;
  border-radius: 50%;
  border: 0.25rem solid white;
  margin-bottom: 2.2rem;
}

.profile__name {
  font-size: 38px;
  font-weight: 300;
}

.profile__timeframes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem;
}

/*--------------------------------------------*/

/*------------------Info Card-----------------*/

.info {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 1.15rem;
  overflow: hidden;
  flex-shrink: 1;
}

.info__image-container {
  position: relative;
  place-self: end;
  height: 20%;
  padding-right: 1rem;
  top: -10px;
}
.info__fg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--card-bg-dark-blue);
  border-radius: 1rem;
  padding-block: 1rem;
  padding-inline: 1.75rem;
  height: 80%;
  width: 100%;
  z-index: 1;
}

.info__fg:hover {
  background-color: var(--card-bg-hover-dark-blue);
}

.info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.info__title {
  font-size: 18px;
  font-weight: 500;
}

.ellipsis {
  height: 4px;
  opacity: 0.6;
  cursor: pointer;
}

.info__fg-current {
  font-size: 62px;
  font-weight: 300;
}

.info--work {
  background-image: linear-gradient(
    var(--card-bg-work),
    var(--card-bg-work),
    transparent
  );
}

.info--play {
  background-image: linear-gradient(
    var(--card-bg-play),
    var(--card-bg-play),
    transparent
  );
}

.info--study {
  background-image: linear-gradient(
    var(--card-bg-study),
    var(--card-bg-study),
    transparent
  );
}

.info--exercise {
  background-image: linear-gradient(
    var(--card-bg-exercise),
    var(--card-bg-exercise),
    transparent
  );
}

.info--social {
  background-image: linear-gradient(
    var(--card-bg-social),
    var(--card-bg-social),
    transparent
  );
}

.info--self-care {
  background-image: linear-gradient(
    var(--card-bg-self-care),
    var(--card-bg-self-care),
    transparent
  );
}

/*--------------------------------------------*/

/* Utils */

.light-font {
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff80;
}

.text-center {
  text-align: center;
}

/* Media Queries */

@media all and (max-width: 868px) {
  .dashboard-grid {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    gap: 1.5rem;
    margin: 1.5rem;
  }

  .profile__upper {
    flex-direction: unset;
    justify-content: space-around;
    align-items: center;
  }

  .profile__picture {
    width: 25%;
    margin-bottom: unset;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 300;
  }

  .profile__timeframes {
    display: inline;
    margin-inline: auto;
  }

  .profile__timeframes > a:nth-child(2) {
    padding-inline: 3rem;
  }

  .info__fg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-bg-dark-blue);
    border-radius: 1rem;
    padding-block: 2rem;
    padding-inline: 1.75rem;
    height: 80%;
    width: 100%;
    z-index: 1;
  }

  .info__image-container {
    height: 2rem;
  }

  .info__fg-current {
    font-size: 2rem;
    font-weight: 300;
  }

  .info__fg-stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
  }
}
